 html{
 	scroll-behavior: smooth;
 }
 body{
	font-family: 'Bellota', cursive;
	margin: 0;
	overflow-x: hidden;
	background:#fab623;
	width: 100vw;
}
nav{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	height: 80px;
	position: relative;
	z-index: 2;
}
a{
	text-decoration: none;
	font-size: 22px;
	color: black;
	font-weight: bold;
	transition: all 0.2s ease;
}
nav a{
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 30px;
}
section{
	height: 100vh;
	width: 100vw;
	position: relative;
    margin-bottom: 30px;

}
 nav a:hover{
	color:white;
	border-bottom:2px solid black;
}
h1{
	font-size: 45px;
	margin-top: 60px;
	width: 40%;
    margin-left: 10%;
}
#first{
 	background:url(картинка2.jpg);
 	background-repeat: no-repeat;
	background-position:50% 95%;
	background-size: cover;
}	

.flex{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background:#fab623;
}
.logo{
	height: 53px;
    width: 53px;
    margin-top: 9px;
}
h2{
	margin: 0;
	margin-right: 46px;
	align-self: center;

}
.flex h2{
	font-size: 50px;
}
.flex p{
width: 56%;	
}
.box{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	background:#fab623;
	margin-bottom:30px;
}
.box-cont{
	width: 49%;
	display: flex;
	justify-content: space-between;
	border-left:2px solid black;
	padding-right: 25px;
	padding-left: 25px;
	height: 550px;
}
	
#drama{
	background:#fab623;		
}
section h2{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 55px;
	font-size: 55px;
	padding-top: 50px;
}
.box-text{
	display: flex;
	flex-direction:column; 
	width: 50%;
	
}
.box-cont img{
	margin-right: 15px;
	height: 510px;
    align-self: center;
}
.discription1{
	width: 107%;
}

h3{
	font-size: 25px;
	margin-bottom: 0px;
}
.box-text a{
	font-size: 16px;
}
.discription2{
	width: 106%;
}
.discription3{
	width: 105%;
}
.discription4{
	width: 108%;
    margin-bottom: 68px;
}
#third{
	background:#fab623;
}
.discription5{
	width: 84%;
	margin-bottom: 36px;
}
.discription6{
	width: 108%;
	margin-bottom: 36px;
}
.discription7{
     width: 74%;
     margin-bottom: 55px;
}
.discription8 {
    width: 112%;
}
.discription9{
	width: 97%;
    margin-bottom: 57px;
}
.discription11{
	width: 91%;
}
.discription12{
	width: 86%;
}
.discription14{
	width: 109%;
    margin-bottom: 40px;
}
.discription15{
    width: 106%;
    margin-bottom: 24px;
}
.discription16{
	width: 102%;
    margin-bottom: 121px;
}
.discription20{
	width: 90%;
}
.discription19{
	width: 106%;	
}
.discription17{
	width: 91%;
    margin-bottom: 138px;
}
.discription18{
	width: 103%;
    margin-bottom: 69px;
}


.poz1{
	position: absolute;
	bottom:30px;
    right: 36%;
    opacity: 0.7; 
}
.d21 {
width: 100px; 
height: 50px;
background: white;
border-color: black;
border-style: solid;
border-width: 2px 2px 50px 2px;
border-radius: 50%;
position: relative;
}
.d21:before, 
.d21:after {
content: "";
width: 12px; 
height: 12px;
position: absolute; 
top: 50%;
border-radius: 50%;
}
.d21:before {
left: 0;
background: white;
border: 19px solid black;
}
.d21:after {
left: 50%;
background: black;
border: 19px solid white;
}
.d5 {
width: 0; 
height: 0;
border-top: 50px solid transparent;
border-right: 100px solid black;
border-bottom: 50px solid transparent;
opacity: 0.7;
transform: rotate(311deg);
position: absolute;
right: 120px;
top: 50px; 
}
.box-cont a:hover{
color: white;
}
.wreath,.actor,.dragon,.detective2{
	position: absolute;
	right: 9%;
	top: 30px;
}
.ball,.ufo{
 	position: absolute;
 	left: 8%;
 	top: 80px;	
 	transform: rotate(-45deg);
}
.detective1{
    position: absolute;
 	left: 8%;
 	top: 80px;	
}
.hearts{
	position: absolute;
	left: 8%;
 	top: 80px;
}
.mask{
	position: absolute;
	left: 8%;
 	top: 80px;
}



